@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>From a single course to a global learning solution, we can help transform your people and organisation to gain real, lasting benefits. More of the world's leading organisations choose us for their business and technical skills development than any other provider. The reason is we constantly aim to provide the best learning experience available. The heart of QA is our people; through their deep industry knowledge and training expertise, we can truly make a difference to your organisation.</p>
