@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3rd Floor, International House<br />
    1 St Katherine's Way<br />
    London E1W 1UN<br />
    <abbr title="Phone">P:</abbr>
    0845 074 7829
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@qa.com">Support@qa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@qa.com">Marketing@qa.com</a>
</address>